<center>
<h1>Residental Community Connect</h1>
<h2> Major Functionalities </h2>
<li><b>Need Of Service</b></li>
<li><b>E-Groceries</b></li>
<li><b>Event Manager</b></li>
<li><b>E-Polling</b> (Click Add Poll Option located at the Navigation Bar)</li>
<li><b>Resale Of Goods</b></li>
</center>